---
// Import necessary assets and components
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";

const meta = {
  description: "Resume Page - MarinKresic Blog",
  title: "CV",
};

// Add your resume details (education, experience, skills, etc.)
const resumeData = {
  education: [
    {
      degree: "Bachelor's in Computer Science - Sub specialization in Systems engineering",
      institution: "Algebra Bernays University",
      year: "2022 - Present",
    },
    {
      degree: "Computer Technician",
      institution: "Tehnička škola Ruđer Bošković",
      year: "Graduated 2017",
    },
  ],
  experience: [
    {
      role: "IT Service Desk",
      company: "Raiffeisen Bank Croatia",
      duration: "December 2024 - Present",
      description: "",
    },
    {
      role: "System Administrator Intern",
      company: "Ericsson Nikola Tesla",
      duration: "May 2017 - September 2017",
      description: "• Gained hands-on experience managing and maintaining server infrastructure, including configuration, monitoring, and troubleshooting. Skills gained: Server management, system administration, networking, troubleshooting, IT support.",
    },
  ],
  certification: [
    {
      name: "Cisco Certified Network Administrator – CCNA",
      company: "Cisco",
      duration: "2017",
    },
    {
      name: "Cisco Networking Essentials",
      company: "Cisco",
      duration: "2024",
    },
    {
      name: "Fortinet Cybersecurity Expert Level 3: Certified Associate",
      company: "Fortinet",
      duration: "2024",
    },
    {
      name: "Microsoft Certified Azure Fundamentals AZ-900",
      company: "Microsoft",
      duration: "2024",
    },
    {
      name: "Microsoft Applied Skills: Administer Active Directory Domain Services",
      company: "Microsoft",
      duration: "2024",
    },
  ],
  skills: [
    "System Administration (Windows Server & RHEL Linux)",
    "Network Routing and Switching",
    "FortiNet firewall",
    "Microsoft Azure",
    "Powershell scripting/Shell scripting (BASH)",
    "Ansible",
    "Python",
    "SQL/NoSQL Databases",
    "CI/CD, Git",
    "Docker & Kubernetes/Virtualization Technologies",
  ],
};
---

<PageLayout meta={meta}>
  <div class="space-y-8">
    <h1 class="title text-3xl font-bold">Circum Vitae - Marin Krešić</h1>
    <p>Zagreb, Croatia - marinjurekresic@gmail.com</p>
    <section>
        <h2 class="text-2xl font-semibold mb-2">Experience</h2>
        <ul class="list-disc pl-5 space-y-2">
          {resumeData.experience.map(({ role, company, duration, description }) => (
            <li>
              <strong class="text-xl">{role}</strong> at <span class="font-bold text-lg">{company}</span><br />
              <span class="text-gray-500">({duration})</span><br />
              <span class="italic text-gray-500">{description}</span>
            </li>
          ))}
        </ul>
      </section>
    <section>
      <h2 class="text-2xl font-semibold mb-2">Education</h2>
      <ul class="list-disc pl-5 space-y-2">
        {resumeData.education.map(({ degree, institution, year }) => (
          <li>
            <strong class="text-xl">{degree}</strong><br />
            <span class="text-gray-500">{institution}</span> <span class="text-gray-500">({year})</span>
          </li>
        ))}
      </ul>
    </section>

    <section>
        <h2 class="text-2xl font-semibold mb-2">Certification</h2>
        <ul class="list-disc pl-5 space-y-2">
          {resumeData.certification.map(({ name, company, duration }) => (
            <li>
              <strong class="text-xl">{name}</strong> at <span class="font-semibold">{company}</span> <span class="text-gray-400">({duration})</span><br />
            </li>
          ))}
        </ul>
      </section>

    <section>
      <h2 class="text-2xl font-semibold mb-2">Skills</h2>
      <ul class="list-disc pl-5 space-y-2">
        {resumeData.skills.map(skill => (
          <li class="">{skill}</li>
        ))}
      </ul>
    </section>
    <div class="mt-8">
      <a target="_blank" href="/MarinKresic_CV.pdf" class="tag text-white px-4 py-2 rounded">
        📥 Download Resume (PDF)
      </a>
    </div>
    <section class="mt-16">
      <SocialList />
    </section>
  </div>
</PageLayout>
